<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/api/inscription" method="post"> Username
        <label for="">
            <input type="text" name="username">
        </label>

        <label for="">Email
            <input type="email" name="email">
        </label>

        <label for="">Password
            <input type="password" name="password">
            </label>
            <input type="submit">







    </form>
</body>
</html>